header {
    background-color: lightcoral;
    .container {
        @include goflex(row, space-between, center, nowrap);
        @extend %mycontainer;
        @media (max-width: 1200px) {
            width: 90%;
        }
        .logo {
            font-size: $myfontsize1;
            color: $mycolor1;
        }
        nav {
            max-width: 500px;
            width: 100%;
            @media (max-width: 850px) {
                display: none;
            }
            ul {
                width: 100%;
                height: 100%;
                @include goflex(row, space-around, flex-end, nowrap);
                a {
                    @include pfontsets;
                }
            }
        }
        .fa-bars {
            display: none;
            @media (max-width: 850px) {
                display: inline-block;
            }
        }
    }
}
